In [2]:
import pandas as pd
import datetime as dt

In [3]:
someday=dt.date(1997,9,5)

In [4]:
print(someday.month)
someday.day

9

5

In [13]:
sometime=dt.datetime(1997,9,5,7,30,7)

In [16]:
sometime.day
sometime.month
sometime.year

1997

In [8]:
pd.Timestamp("2020/05/09")
pd.Timestamp("2020-09-05")
pd.Timestamp("2020, 09, 05 12:30:52 AM")

Timestamp('2020-09-05 00:30:52')

In [12]:
pd.Timestamp(dt.datetime(2020, 9, 5, 12, 1, 1))

Timestamp('2020-09-05 12:01:01')

# DatetimeIndex

In [13]:
dates=["2016/05/05","2018/06/08","2020/08/03"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-05-05', '2018-06-08', '2020-08-03'], dtype='datetime64[ns]', freq=None)

In [15]:
dates=[dt.date(2016, 1, 10),dt.date(2017, 5, 8),dt.date(2020, 4, 2)]
dtindex=pd.DatetimeIndex(dates)

In [16]:
values=[100, 200, 700]
pd.Series(data=values, index=dtindex )

2016-01-10    100
2017-05-08    200
2020-04-02    700
dtype: int64

# pd.to_datetime() method

In [20]:
pd.to_datetime("2010-09-08")
pd.to_datetime(dt.date(2019, 9, 5))
pd.to_datetime(["2019-08-07","2020/07/05","5th September, 2020"])

DatetimeIndex(['2019-08-07', '2020-07-05', '2020-09-05'], dtype='datetime64[ns]', freq=None)

In [24]:
times=pd.Series(["2019-08-07","2020/07/05","5th September, 2020", "2020"])

In [25]:
pd.to_datetime(times)

0   2019-08-07
1   2020-07-05
2   2020-09-05
3   2020-01-01
dtype: datetime64[ns]

In [28]:
td1=pd.Series(["2019-08-07","2020/07/05","5th September, 2020", "2020", "Hello", "2019/02/31"])

In [31]:
pd.to_datetime(td1,errors="coerce") #errors="coerce" neglects the string and the dates which are not possible as Nat

0   2019-08-07
1   2020-07-05
2   2020-09-05
3   2020-01-01
4          NaT
5          NaT
dtype: datetime64[ns]

# pd.date_range() Method Part 1

In [33]:
pd.date_range(start="2016/01/01",end="2016/01/10",freq="D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range(start="2016/01/01",end="2016/01/10",freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [35]:
pd.date_range(start="2016/01/01",end="2016/01/10",freq="B") # freq="B" includes all the business days excluding sat and sun days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [36]:
pd.date_range(start="2016/01/01",end="2016/01/15",freq="W") #includes the days that falls on sunday

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [37]:
pd.date_range(start="2016/01/01",end="2016/01/10",freq="W-FRI") #includes the days that falls on friday

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [38]:
pd.date_range(start="2016/01/01",end="2016/01/10",freq="H") #includes all the hours in that day

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [39]:
pd.date_range(start="2016/01/01",end="2016/01/10",freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [40]:
pd.date_range(start="2016/01/01",end="2016/12/31",freq="M") #gives the last dates of every month in the range

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [41]:
pd.date_range(start="2016/01/01",end="2016/12/31",freq="MS") #gives the starting date for each month

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

# pd.date_range() method part 2

In [44]:
 pd.date_range(start="2019/09/09",periods=55,freq="D") #generates 55 values from start date

DatetimeIndex(['2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12',
               '2019-09-13', '2019-09-14', '2019-09-15', '2019-09-16',
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-21', '2019-09-22', '2019-09-23', '2019-09-24',
               '2019-09-25', '2019-09-26', '2019-09-27', '2019-09-28',
               '2019-09-29', '2019-09-30', '2019-10-01', '2019-10-02',
               '2019-10-03', '2019-10-04', '2019-10-05', '2019-10-06',
               '2019-10-07', '2019-10-08', '2019-10-09', '2019-10-10',
               '2019-10-11', '2019-10-12', '2019-10-13', '2019-10-14',
               '2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18',
               '2019-10-19', '2019-10-20', '2019-10-21', '2019-10-22',
               '2019-10-23', '2019-10-24', '2019-10-25', '2019-10-26',
               '2019-10-27', '2019-10-28', '2019-10-29', '2019-10-30',
               '2019-10-31', '2019-11-01', '2019-11-02'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range(start="2019/09/09",periods=55,freq="B")

DatetimeIndex(['2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12',
               '2019-09-13', '2019-09-16', '2019-09-17', '2019-09-18',
               '2019-09-19', '2019-09-20', '2019-09-23', '2019-09-24',
               '2019-09-25', '2019-09-26', '2019-09-27', '2019-09-30',
               '2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-07', '2019-10-08', '2019-10-09', '2019-10-10',
               '2019-10-11', '2019-10-14', '2019-10-15', '2019-10-16',
               '2019-10-17', '2019-10-18', '2019-10-21', '2019-10-22',
               '2019-10-23', '2019-10-24', '2019-10-25', '2019-10-28',
               '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-01',
               '2019-11-04', '2019-11-05', '2019-11-06', '2019-11-07',
               '2019-11-08', '2019-11-11', '2019-11-12', '2019-11-13',
               '2019-11-14', '2019-11-15', '2019-11-18', '2019-11-19',
               '2019-11-20', '2019-11-21', '2019-11-22'],
              dtype='datetime64[ns]', freq='B')

In [14]:
pd.date_range(end="2019/09/09",periods=55,freq="D") #this methods starts the date from end

DatetimeIndex(['2019-07-17', '2019-07-18', '2019-07-19', '2019-07-20',
               '2019-07-21', '2019-07-22', '2019-07-23', '2019-07-24',
               '2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28',
               '2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01',
               '2019-08-02', '2019-08-03', '2019-08-04', '2019-08-05',
               '2019-08-06', '2019-08-07', '2019-08-08', '2019-08-09',
               '2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21',
               '2019-08-22', '2019-08-23', '2019-08-24', '2019-08-25',
               '2019-08-26', '2019-08-27', '2019-08-28', '2019-08-29',
               '2019-08-30', '2019-08-31', '2019-09-01', '2019-09-02',
               '2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06',
               '2019-09-07', '2019-09-08', '2019-09-09'],
              dtype='datetime64[ns]', freq='D')

In [15]:
dates1=pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")

In [16]:
s=pd.Series(dates1)

In [17]:
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [22]:
mask1=s.dt.is_quarter_start

In [23]:
s[mask1]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

# Importing financial dataset with pandas_datareader library

In [5]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [6]:
stocks=data.DataReader(name="MSFT", data_source="yahoo",start="2010-01-01",end="2020-12-31")

In [7]:
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.085989

In [12]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-07-31', '2020-08-03', '2020-08-04', '2020-08-05',
                '2020-08-06', '2020-08-07', '2020-08-10', '2020-08-11',
                '2020-08-12', '2020-08-13'],
               dtype='datetime64[ns]', name='Date', length=2672, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting rows from dataframe with datetime object

In [13]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.085989
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.835503
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.999893

In [17]:
stocks.loc["2010-01-04"]
stocks.loc[pd.Timestamp("2010-01-04")] #use timestamp when you want to extract two or more rows with in the data frame as passing it as a string will result in an error.

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.422689e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [18]:
stocks.iloc[0]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.422689e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [20]:
stocks.iloc[[0,10,15]]

             High    Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.59  30.620001  30.950001  38409100.0  24.226894
2010-01-19  31.24  30.68  30.750000  31.100000  46575700.0  24.344313
2010-01-26  29.85  29.09  29.200001  29.500000  66639900.0  23.091867

In [24]:
stocks.loc[[pd.Timestamp("2010-01-04"),pd.Timestamp("2010-12-01")]]

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-12-01  26.25  25.559999  25.570000  26.040001  74123500.0  20.808001

In [27]:
stocks.loc["2010-01-04":"2010-12-01"]
stocks.truncate(before="2010-01-04",after="2010-12-01") #just another method as loc()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.085989
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.835503
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.999893
...               ...        ...        ...        ...         ...        ...
2010-11-24  25.459999  25.160000  25.200001  25.370001  56825900.0  20.272619
2010-11-26  25.410000  25.170000  25.209999  25.250000  21356500.0  20.176729
2010-11-29  25.420000  24.930000  25.190001  25.309999  56603600.0  20.224678
2010-11-30  25.469999  25.000000  25.049999  25.260000  75282100.0  20.184715
2010-12-01  26.250000  25.559999  25.570000  26.040001  74123500.0  20.808001

[231 rows x 6 columns]

In [28]:
stocks.iloc[1:144]

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-05  31.100000  30.639999  30.850000  30.959999   49749600.0  24.234720
2010-01-06  31.080000  30.520000  30.879999  30.770000   58182400.0  24.085989
2010-01-07  30.700001  30.190001  30.629999  30.450001   50559700.0  23.835503
2010-01-08  30.879999  30.240000  30.280001  30.660000   51197400.0  23.999893
2010-01-11  30.760000  30.120001  30.709999  30.270000   68754700.0  23.694611
...               ...        ...        ...        ...          ...        ...
2010-07-23  26.020000  25.250000  25.840000  25.809999  108520100.0  20.389498
2010-07-26  26.200001  25.799999  25.860001  26.100000   67249900.0  20.618591
2010-07-27  26.240000  25.959999  26.139999  26.160000   60672100.0  20.665995
2010-07-28  26.190001  25.830000  26.070000  25.950001   69704800.0  20.500095
2010-07-29  26.410000  25.600000  26.129999  26.030001   69446200.0  20.563297

[143 rows x 6 columns]

In [31]:
birthdays=pd.date_range(start="1997-09-05",end="2020-12-31",freq=pd.DateOffset(years=1))

In [33]:
birthday_stocks=stocks.index.isin(birthdays)

In [36]:
stocks[birthday_stocks]
stocks.loc[birthday_stocks]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-09-05,30.530001,30.209999,30.219999,30.389999,33650000.0,25.425236
2013-09-05,31.440001,30.950001,31.100000,31.230000,71644900.0,26.935534
2014-09-05,45.930000,45.110001,45.110001,45.910000,36939400.0,40.732754
2017-09-05,73.889999,72.980003,73.339996,73.610001,21556000.0,70.557045
2018-09-05,111.419998,108.099998,111.010002,108.489998,32872400.0,105.864563
2019-09-05,140.380005,138.759995,139.110001,140.050003,26101800.0,138.808273

In [5]:
someday=stocks.index[345]

In [12]:
someday.month
someday.day
someday.is_month_end
someday.is_month_start
someday.is_quarter_start
someday.is_leap_year

False

In [13]:
someday.month_name()

'May'

In [15]:
someday.day_name()

'Tuesday'

In [16]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2672)

In [18]:
stocks.insert(0,"Days of the week",stocks.index.day_name())

In [19]:
stocks

,Days of the week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.226894
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.234720
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.085989
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.835503
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.999893
...,...,...,...,...,...,...,...
2020-08-07,Friday,215.699997,210.929993,214.850006,212.479996,27789600.0,212.479996
2020-08-10,Monday,211.880005,206.350006,211.669998,208.250000,36716500.0,208.250000
2020-08-11,Tuesday,207.649994,203.139999,207.160004,203.380005,36446500.0,203.380005
2020-08-12,Wednesday,210.279999,204.750000,205.289993,209.190002,28041400.0,209.190002
2020-08-13,Thursday,211.350006,208.149994,209.440002,208.699997,22556800.0,208.699997

In [20]:
stocks.insert(1,"Is month start",stocks.index.is_month_start)

In [23]:
stocks[stocks["Is month start"]]

,Days of the week,Is month start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.238642
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.822367
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.932465
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.452698
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.296041
...,...,...,...,...,...,...,...,...
2019-11-01,Friday,True,144.419998,142.970001,144.259995,143.720001,33128400.0,142.445740
2020-04-01,Wednesday,True,157.750000,150.820007,153.000000,152.110001,57969900.0,151.687546
2020-05-01,Friday,True,178.639999,174.009995,175.800003,174.570007,39370500.0,174.085175
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,182.830002
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,204.699997

# pd.Dateoffset object

In [24]:
stocks.index + pd.DateOffset(days=5) # increase 5 days to each date

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-08-05', '2020-08-08', '2020-08-09', '2020-08-10',
               '2020-08-11', '2020-08-12', '2020-08-15', '2020-08-16',
               '2020-08-17', '2020-08-18'],
              dtype='datetime64[ns]', name='Date', length=2672, freq=None)

In [25]:
stocks.index - pd.DateOffset(days=5) # decrease 5 days from each date

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-07-26', '2020-07-29', '2020-07-30', '2020-07-31',
               '2020-08-01', '2020-08-02', '2020-08-05', '2020-08-06',
               '2020-08-07', '2020-08-08'],
              dtype='datetime64[ns]', name='Date', length=2672, freq=None)

In [32]:
stocks.index + pd.DateOffset(weeks=2)
stocks.index - pd.DateOffset(weeks=2)
stocks.index + pd.DateOffset(months=3)
stocks.index - pd.DateOffset(months=3)

stocks.index + pd.DateOffset(years=1, months=3, days=5, hours=3, minutes= 23)

DatetimeIndex(['2011-04-09 03:23:00', '2011-04-10 03:23:00',
               '2011-04-11 03:23:00', '2011-04-12 03:23:00',
               '2011-04-13 03:23:00', '2011-04-16 03:23:00',
               '2011-04-17 03:23:00', '2011-04-18 03:23:00',
               '2011-04-19 03:23:00', '2011-04-20 03:23:00',
               ...
               '2021-11-05 03:23:00', '2021-11-08 03:23:00',
               '2021-11-09 03:23:00', '2021-11-10 03:23:00',
               '2021-11-11 03:23:00', '2021-11-12 03:23:00',
               '2021-11-15 03:23:00', '2021-11-16 03:23:00',
               '2021-11-17 03:23:00', '2021-11-18 03:23:00'],
              dtype='datetime64[ns]', name='Date', length=2672, freq=None)

# Time Series offset

In [33]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-08-31', '2020-08-31', '2020-08-31', '2020-08-31',
               '2020-08-31', '2020-08-31', '2020-08-31', '2020-08-31',
               '2020-08-31', '2020-08-31'],
              dtype='datetime64[ns]', name='Date', length=2672, freq=None)

In [8]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2020-09-01', '2020-09-01', '2020-09-01', '2020-09-01',
               '2020-09-01', '2020-09-01', '2020-09-01', '2020-09-01',
               '2020-09-01', '2020-09-01'],
              dtype='datetime64[ns]', name='Date', length=2673, freq=None)

In [10]:
from pandas.tseries import offsets

In [11]:
stocks.index+ offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-08-31', '2020-08-31', '2020-08-31', '2020-08-31',
               '2020-08-31', '2020-08-31', '2020-08-31', '2020-08-31',
               '2020-08-31', '2020-08-31'],
              dtype='datetime64[ns]', name='Date', length=2673, freq=None)

# TimeDelta Object

In [12]:
time_a=pd.Timestamp("2020-09-30")
time_b=pd.Timestamp("2020-08-12")

In [13]:
time_a - time_b

Timedelta('49 days 00:00:00')

In [15]:
pd.Timedelta("5 days")

Timedelta('5 days 00:00:00')

# TimeDelta on Dataframe

In [40]:
shipping=pd.read_csv("ecommerce.csv", index_col="ID",parse_dates=["order_date","delivery_date"])

In [41]:
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [43]:
shipping["Delivery Time"]=shipping["delivery_date"] - shipping["order_date"]

In [44]:
shipping

    order_date delivery_date Delivery Time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [47]:
shipping["Twice as long"]=shipping["delivery_date"] + shipping["Delivery Time"]

In [48]:
shipping

    order_date delivery_date Delivery Time Twice as long
ID
1   1998-05-24    1999-02-05      257 days    1999-10-20
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
..         ...           ...           ...           ...
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
994 1993-06-03    1993-06-13       10 days    1993-06-23
997 1990-01-04    1991-10-03      637 days    1993-07-01

[501 rows x 4 columns]

In [51]:
mask=shipping["Delivery Time"] > "365 Days"

In [52]:
shipping[mask]

    order_date delivery_date Delivery Time Twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]